<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Books database</title>
  </head>
  <body>
    {% if role == 'none' %}
      <p> <a href="{% url 'signin' %}"> Add new book </a> </p>
    {% else %}
      <p>
        <a href="{% url 'create' %}"> Add new book </a> | <a href="{% url 'profile' %}"> Profile </a> | <a href="{% url 'logout' %}"> Log out </a> 
      </p>
    {% endif %}
    <p>
      <a href="{% url 'cart' %}"> Cart </a> | <a href="{% url 'orders' %}"> Orders </a>
    </p>
    {% if role == 'none' %}
      <h2>Books list</h2>
    {% else %}
      <h2>Books list of {{ name }}</h2>
    {% endif %}
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Author</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        {% for book in page_books %}
        <tr>
          <td>{{ book.id }}</td>
          <td>{{ book.book_name }}</td>
          <td>{{ book.author_name }}</td>
          <td>{{ book.price }}</td>
          {% if role == 'admin' %}
            <td>
              <a href="{% url 'edit' book.id %}">Edit</a> |
              <a href="{% url 'delete' book.id %}">Delete</a>
            </td>
          {% endif %}
          <td><a href="{% url 'tocart' book.id %}?page={{ page_books.number }}">To cart</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="pagination">
      <span class="step-links">
        {% if page_books.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_books.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
          Page {{ page_books.number }} of {{ page_books.paginator.num_pages }}.
        </span>

        {% if page_books.has_next %}
        <a href="?page={{ page_books.next_page_number }}">next</a>
        <a href="?page={{ page_books.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
    </div>
  </body>
</html>
